
.super-mario {
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 100px;
  }
  
  .baloon {
    float: right;
    position: absolute;
    left: 300px;

    
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    top: 125px;
    z-index: 2;

    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 580px;
    top: 210px;

