body{
    background-color:gray;
}

h1, p{
    text-align: center;
}
li:hover{
    background-color: yellow;
}

li:active{
    font-size: 40px;
    font-family: Helvetica;

}

li{
    list-style: none;
}

